<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">


<head th:replace="/fragments/head :: head"></head>

<body>

    <main>
        <header th:replace="/fragments/header :: header"></header>
        <div th:if=${error} class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if=${success} class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="container">
            <div class="container1">
                <form class="buscador" th:action="@{/characters/query}" method="GET">
                    <input class="form-control" name="query" type="text"
                        placeholder="* Descubrí más sobre tu personaje favorito *">
                    <button class="btn btn-light"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="container2" th:each='p : ${personajesq}'>
                <div class="detalle"><img th:src="${'/image/characters?id='}+${p.id}" alt="">
                    <p th:text="${p.nombre}"></p>
                </div>
                <div class="detalle2">
                    <p th:text="${p.historia}"></p>
                    <div class="valores">
                        <p th:text="'Edad: ' + ${p.edad}"></p>
                        <p th:text="'Peso: ' + ${p.peso}"></p>
                    </div>
                    <div>peliculas</div>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="contenido" th:each='p : ${personajes}'>
                <div>
                    <img th:src="${'/image/characters?id='}+${p.id}" alt="">
                    <p th:text="${p.nombre}"></p>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>
    <script th:replace="/fragments/script :: script"></script>
</body>

</html>