<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">


<head th:replace="/fragments/head :: head"></head>

<body>
    <main>
        <header th:replace="/fragments/header :: header"></header>
        <div th:if=${error} class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if=${success} class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        <div class="edit">
            <h3>Crear una nueva pelicula</h3>
            <form th:action="@{/movies/create}" method="POST" enctype="multipart/form-data" th:object="${movie}">
                <div>
                    <input hidden th:field="*{id}">

                    <label for="titulo" class="form-label mt-2"></label>
                    <input type="text" class="form-control" id="nombreCompleto" name="titulo" th:value="*{titulo}"
                        placeholder="Ingrese el titulo">

                    <label for="fechaCreacion" class="form-label mt-2"></label>
                    <input type="date" class="form-control" id="fechaCreacion" name="fechaCreacion"
                        th:value="*{fechaCreacion}">

                    <label for="calificacion" class="form-label mt-2"></label>
                    <input type="text" class="form-control" id="calificacion" name="calificacion"
                        th:value="*{calificacion}" placeholder="Calificacion">

                    <label for="calificacion" class="form-label mt-2"></label>
                    <input type="text" class="form-control" id="genero" name="genero" th:value="*{genero}"
                        placeholder="Genero">
                </div>
                <div>
                    <input type="file" name="image">
                    <label for=""></label>
                </div>
                <input type="submit" class="form-control" id="enviar">
            </form>
        </div>

    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>
    <script th:replace="/fragments/script :: script"></script>
</body>

</html>